{{ DhcpInterface }}
{{ DhcpDomain }}
{{ DhcpRange }}
{{ DhcpBoot }}
{{ DhcpOptionGateway }}
{{ DhcpOptionDns }}
{{ DhcpOptionBroadcast }}
{{ DhcpOptionNtp }}
{{ PxePrompt }}
{{ PxeService }}
{{ EnableTftp }}
{{ TftpPath }}
{{ ConfDir }}
